a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


*{
  padding:0;
  margin:0;
}

body{
  background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(54,40,72,0.8)), url(../images/foto-body.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow-X: hidden;

 
}

.welcome {
	text-align: center;
  color: #ff5700;
  font-size: 40px;
  margin-top: 50px;
}

.operations{
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}



.card {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 2rem;
  height: 3rem;
  justify-content:center;
  margin: 0 auto;
  border: 1px solid #ff5700;
}

.cardLogout {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 2rem;
  height: 6rem;
  margin: 0 auto;
}

.iconFunction ion-icon {
    display: block;
    
    z-index: -1;
    
}

.cards {
  max-width: 80%;
  margin: 50px 400px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
 
 
  
}

.card:hover{
    background-color: #ff5700;
    
    color: white;
    cursor: pointer;

    -webkit-transition: 0.4s;
    transition: 0.4s;
    outline: none;
}

.cardLogout:hover{
    background-color: #ff00009a;
    
    color: white;
    cursor: pointer;

    -webkit-transition: 0.4s;
    transition: 0.4s;
    outline: none;
}

@media screen and (max-width: 800px) {
  .cards { 
  display: flex;
  flex-direction:column;
	margin: 50px 20px;
   }
   
   
  .card{
  	width: 100px;
  	height: 100px;
  }
  .cardLogout{
  	width: 100px;
  	height: 100px;
  }
  
  
  .page{
  	height: 80rem;
  }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
  .card{
  	width: 100px;
  	height: 100px;
  }
  .cardLogout{
  	width: 100px;
  	height: 100px;
  }
}

@media (min-width: 1200px) {
  .cards { grid-template-columns: repeat(5, 1fr); }
  .card{
  	width: 100px;
  	height: 100px;
  }
  .cardLogout{
  	width: 100px;
  	height: 100px;
  }
}