.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(../images/navbar/1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}



.icon{
    width: 200px;
    float: left;
    height: 70px;
    text-align: center;
}

.logo{
    color: #ff7200;
    font-size: 40px;
    font-family: Garamond;
    float:left;
    padding-top: 12px;
    text-align: center;
    
    
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    
}

.menu ul{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 140px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right:none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;


}

.btn-search{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-search:focus{
    outline: none;;
}

.stch:focus{
    outline: none;
}

input::placeholder{
	color:white;
}

.shop{

    width: 100px;
    float: right;
    height: 70px;
	margin-top: 7px;
}

.shop ul{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop ul li{
	list-style: none;
    font-size: 14px;
}


.shop .shop_icon{
	width: 50px;
	height: 50px;
}

.shop .icona{
	width: 30px;
	height: 30px;
	color: #ff7500;
}

	
	
	
	
	
	

