
*{
	padding:0;
	margin:0;
}
body{
	background: #390066;
  	background-position: center;
  	background-size: cover;
  	overflow-X: hidden;
}


.TestoTabella{
	margin-top: 20px;
	text-align: center;
	margin-right: 50px;
	color: #ff7500;
}

.tabellaOpzioni {
    margin: 20px 600px;
    width: 100%;
}

.testoTabella {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 25px;
    color: #ff7500;
    line-height: 10px;

}

.testoValoriAccount {
    padding-right: 10px;
    font-size: 20px;
    padding-top: 0px;
    color: white;
}


.iconaModificaPulsante{
	color: #ff7500;
}

.modificaElemento{
	
	margin-bottom: 40px;
}


input[type=text]{
	width: 150px;
	height: 20px;
	font-size: 15px;
}


#button{
	  width: 120px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}

