@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

main{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    background: rgba(87,61,122,255);
}

img{
    width: 100%;
    display: block;
}
.main-wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(126, 124, 124, 0.568);
    border-radius: 10px;
    column-gap: 10px;
}
.product-div-left{
    padding: 20px;
}
.product-div-right{
    padding: 20px;
}
.img-container img{
    width: 600px;
    margin: 0 auto;
}
.hover-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
.hover-container div{
    border: 2px solid 	rgb(255, 114, 0);					 ;
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-color: rgb(194, 87, 0)!important;
}
.hover-container div:hover{
    border-color: rgb(194, 87, 0);
}
.hover-container div img{
    width: 80px;
    cursor: pointer;
}
.product-div-right span{
    display: block;
}
.product-name{
    font-size: 36px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}

.product-description{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}
.btn-groups{
    margin-top: 22px;
}
.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-groups button .fas{
    margin-right: 8px;
}
.add-cart-btn{
    background-color: rgb(255, 114, 0);
    border: 2px solid rgb(255, 114, 0);
    margin-right: 8px;
}
.add-cart-btn:hover{
    background-color: #fff;
    color: #2D2D2D;
}




/*end css product details*/

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

@media screen and (max-width: 992px){
  .product-div{
      grid-template-columns: 100%;
  }
  .product-div-right{
      text-align: center;
  }
  .product-rating{
      justify-content: center;
  }
  .product-description{
      max-width: 400px;
      margin-right: auto;
      margin-left: auto;
  }
}

@media screen and (max-width: 400px){
  .btn-groups button{
      width: 100%;
      margin-bottom: 10px;
  }
} 