@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin:0;
    padding:0;

}
body{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    background-color:#161623;
  
}

section::before
{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:linear-gradient(#7c3302,#e77205);
    clip-path:circle(25% at right 60%);
}

section::after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:linear-gradient(#3b0239,#ec03cd);
    clip-path:circle(20% at 10% 7%);
    z-index:-1;
}

.container{
    position:relative;
    z-index:1;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin: 170px auto;
}

.container .card{
    position:relative;
    width: 260px;
    height: 400px;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 15px 35px rgba(255,255,255,0.2);
    margin: 20px;
    border-radius: 12px;
    border: 1 solid (255,255,255,0.1);
    display: flex;
    justify-content: center;
    align-items:center;
    backdrop-filter: blur(10px) saturate(180%);
}

.container .card .content{
    position: relative;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    opacity: 0.7;
    transition: .5s
}

.container .card .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}

.container .card .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    opacity: 0;
    transition: .5s;
    transition-delay: calc(0.1s * var(--i));  /*delay per la transizione delle icone link ad onda*/
}

.container .card:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .sci li a{
    color: #fff;
    font-size: 24px;
}

.container .card:hover .content{
    opacity: 1;
}

.container .card .content .contentBox h3{
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;

}

.container .card .content .contentBox h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}


.container .card .content .imgBx{
    position:relative;
    width:150px;
    height:150px;
    border-radius:50%;
    overflow:hidden;
    border:10px solid rgba(0,0,0,0.25);
}

.container .card .content .imgBx img{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 800px){
	
	
	body{
		overflow-X: hidden;
	}
	
	.container{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 17px 80px;
	}
	
	
}

