
*{
 box-sizing:border-box;
 margin:0;
 padding:0;

}
body{
 background:white;
}
.menu,
a,
button{

 font-family:'Montserrat',sans-serif;
 font-weight:300;
 font-size:16px;
 color: black;
 text-decoration:none;
 padding: 10px;


}

header{

 display:flex;
 justify-content:space-between;
 align-items:center;
 color: black;
 background: white;
 padding: 10px 20px;
 

}
.menu{
  list-style:none;
}
.menu li{
 display:inline-block;
 padding:020px;
}
.menu li a{
  transition:all .3s ease;
}
.menu a:hover{
  color:#39f;
}


button{
  padding:9px 25px;
  background:white;
  border-radius:50px;
  cursor:pointer;
  transition:all .3s ease;
  color: black;
  border: 1px solid black;
  margin: 20px;
}
button:hover{
  background:#39f;
 
}

.carrello{
	
	height: 15px;
	width: auto;

}

.container_pulsanti{text-align: center;}


.logo{
	
	height: 50px;
	width: auto;

}



.card {
  /* Aggiungi shadows per creare l'effetto della carta*/
  box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  display: inline-block;
  padding: 35px 20px;
  color: black;
  margin: 50px;
  width: 350px;
  height:350px;
  border-radius: 30px;

  
}



.card img{
	width: 300px;
	height:200px;
	
	
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}



/* ! CAROUSEL */



.carousel-cell{
	height: 500px;
	width: 500 px;
	text-align: center;
	


}


/* ! FOOTER */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: black;
  border-top: 1px solid #e5e5e5;
}



.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}



.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

